@font-face {
    font-family: 'Ford Antenna';
    src: local('Ford Antenna Extra Cond Light Ita'), local('Ford-Antenna-Extra-Cond-Light-Ita'),
        url('FordAntennaExtraCond-LightIta.woff2') format('woff2'),
        url('FordAntennaExtraCond-LightIta.woff') format('woff'),
        url('FordAntennaExtraCond-LightIta.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }